#header-container {
    background-color: white;
    min-height: 15dvh;
    max-height: 20dvh;
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#input-boxes {
    display: flex;
    flex-direction: row;
    justify-content: unset;
}

#search-input-container {
    position: relative;
    top: 0;
    left: 0;
}

#search-input-container::after {
    content: ' ';
    height: 20px;
    width: 1px;
    position: absolute;
    left: 2%;
    top: 49%;
    background-color: red;
    transform: translate(-2%, -49%);
}

#search-items-div {
    background-color: white;
    z-index: 50;
    min-height: 10vh;
    width: auto;
    height: auto;
}

#select-tag-div {
    position: relative;
    top: 0;
    left: 0;
}

#location-icon {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
    color: #ff7400;
}

#select-tag {
    width: 200px;
    height: 54px;
    border: 1px solid black;
    border-right: unset;
    padding-left: 30px;
}

#search-input {
    width: 300px;
    height: 50px;
    padding-left: 50px;
    outline: none;
    border: 1px solid black;
    border-left: unset;
}

#search-glass {
    position: absolute;
    left: 5%;
    top: 50%;
    color: #ff7400;
    transform: translate(-5%, -50%);
}

#search-input:focus {
    border-left: none !important;
    box-shadow: none;
}

#tomato-header {
    color: black;
    font-weight: bold;
    font-size: 30px;
    transform: skewX(-15deg);
}

#login-p,
#signup-p {
    cursor: pointer;
    color: #696969;
    font-size: 18px;
    font-family: sans-serif;
}

#search-input-entire-div {
    display: flex;
    flex-direction: row;
    justify-content: unset;
}

#search-item-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    left: 0%;
}

#search-items-container {
    min-height: 10vh;
    background-color: white;
    z-index: 50;
    height: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
}