#footer-container {
    width: 100%;
    min-height: 100dvh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF4F4;
    flex-direction: column;
}

#footer-tomato-header {
    color: black;
    font-weight: bold;
    font-size: 30px;
    transform: skewX(-15deg);
}

#country-selec {
    display: flex;
    flex-direction: row;
}

#country-selection-btn,
#language-selection-btn {
    width: 90px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 3px 7px;
    border: 1px solid #696969;
    margin-right: 5px;
}

#footer-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#footer-main {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
}

#footer-contents-header {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

#footer-arr-contents {
    color: gray;
    text-transform: capitalize;
}

#social-links-div {
    display: flex;
    flex-direction: column;
}

#social-icons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hr {
    width: 80%;
    height: 1px;
}

#footer-text {
    width: 80%;
}